*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,main{
    width: 100%;
    height: 100%;
}







.pokecard__information span {
    color: #ECBC0D;
}

.pokecard__image-type{
    display: flex;
    align-items: center;
    height: fit-content;
    background-color: #d7d7d7;
   
}

.types{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;    
}

.types span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

